<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Sticky</title>
    <environment include="Development">


    </environment>
    <environment exclude="Development">

    </environment>
    <link rel="stylesheet" href='@Url.Content("~/css/styles.css")' />
    <link href="https://fonts.googleapis.com/css?family=Barlow|Satisfy&effect=3d" rel="stylesheet">
    <script src='@Url.Content("~/js/Profile.js")'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")'></script>
    <script src='@Url.Content("~/lib/signalr/dist/browser/signalr.js")'></script>
    <script src='@Url.Content("~/js/note.js")'></script>
    <script src='@Url.Content("~/js/Board.js")'></script>
    <script src='@Url.Content("~/js/site.js")' asp-append-version="true"></script>
</head>
<body class="hero-image flex">

    <partial name="_CookieConsentPartial" />


        @RenderBody()

        <footer>

        </footer>


        <environment include="Development">
            <script src='@Url.Content("/lib/jquery/dist/jquery.js")'></script>
            <script src='@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")'></script>
            <script src='@Url.Content("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")'></script>
            <script src='@Url.Content("https://code.jquery.com/ui/1.12.1/jquery-ui.js")'></script>
            <script src='@Url.Content("~/js/note.js")'></script>
            <script src='@Url.Content("~/js/Board.js")'></script>
            <script src='@Url.Content("~/js/site.js")' asp-append-version="true"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src='@Url.Content("~/lib/jquery/dist/jquery.min.js")'
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src='@Url.Content("~/lib/bootstrap/dist/js/bootstrap.min.js")'
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>

        </environment>
        <environment exclude="Development">

            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src='@Url.Content("~/lib/jquery/dist/jquery.min.js")'
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src='@Url.Content("~/lib/bootstrap/dist/js/bootstrap.min.js")'
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
        </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
